{{ define "header" }}
    <header class="max-w-2xl mx-auto flex justify-between py-sf-xs">
        <div class="flex items-center">
            <a href="/"> <h1 class="text-sf-ms font-bold text-white">CodePost</h1></a>
        </div>
        <div class="flex gap-sf-s align-center">
            <p class="text-sf-ms text-white content-center">Public post</p>
    <!--        <button hx-get="/api/auth/discord" hx-trigger="click" class="outline px-sf-xs py-sf-2xs hover:cursor-pointer">Login</button>-->
    <!--        <a href="/api/auth/github" class="outline px-sf-xs py-sf-2xs hover:cursor-pointer">Login</a>-->
            {{ if .User }}
                <div class="flex items-center gap-sf-xs">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <path fill="currentColor" d="M12 4a4 4 0 0 1 4 4a4 4 0 0 1-4 4a4 4 0 0 1-4-4a4 4 0 0 1 4-4m0 10c4.42 0 8 1.79 8 4v2H4v-2c0-2.21 3.58-4 8-4" />
                    </svg>
                    <form action="/api/auth/logout" method="GET">
                        <button type="submit" class="outline px-sf-xs py-sf-2xs hover:cursor-pointer">Logout</button>
                    </form>
                </div>
            {{ else }}
                <a href="/api/auth/github" class="outline px-sf-xs py-sf-2xs hover:cursor-pointer">Login</a>
            {{ end }}
        </div>
    </header>
{{ end }}
