{{ define "toast" }}
<div
        x-data="toast"
        x-init="globalInit($el)"
>
    <template x-teleport="body">
        <div
                class="fixed block z-[999] bottom-0 right-0 mr-4 mb-4 space-y-2.5"
                @add-toast.window="add"
        >
                <template x-for="toast in toasts " :key="toast.id">
                    <div
                            :id="toast.id"
                            x-init="toastInit($el)"
                            x-show="toast.show"
                            x-transition:enter="transition ease-out duration-300"
                            x-transition:enter-start="opacity-0 scale-90"
                            x-transition:enter-end="opacity-100 scale-100"
                            x-transition:leave="transition ease-in duration-300"
                            x-transition:leave-start="opacity-100 scale-100"
                            x-transition:leave-end="opacity-0 scale-90"
                            :class="{
                                'bg-[var(--color-red-200)]': toast.type === 'error',
                                'bg-[var(--color-yellow-200)]': toast.type === 'warning',
                                'bg-[var(--color-blue-200)]': toast.type === 'info',
                                'bg-[var(--color-green-200)]': toast.type === 'success'
                            }"
                            class="fixed bottom-sf-s right-sf-s rounded-lg shadow-sm px-5 py-7 flex items-center gap-2 min-w-[384px] max-w-[30%] text-white"
                    >
                        <button @click="dismiss(toast.id)" class="absolute top-sf-s right-sf-ms hover:cursor-pointer">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-x text-close hover:text-black"><path d="M18 6 6 18"></path><path d="m6 6 12 12"></path></svg>
                        </button>
                        <template x-if="toast.type === 'info'">
                            <svg viewBox="0 0 24 24" class="text-blue-600 size-sf-m min-w-sf-m">
                                <path fill="currentColor"
                                      d="M12,0A12,12,0,1,0,24,12,12.013,12.013,0,0,0,12,0Zm.25,5a1.5,1.5,0,1,1-1.5,1.5A1.5,1.5,0,0,1,12.25,5ZM14.5,18.5h-4a1,1,0,0,1,0-2h.75a.25.25,0,0,0,.25-.25v-4.5a.25.25,0,0,0-.25-.25H10.5a1,1,0,0,1,0-2h1a2,2,0,0,1,2,2v4.75a.25.25,0,0,0,.25.25h.75a1,1,0,1,1,0,2Z">
                                </path>
                            </svg>
                        </template>
                        <template x-if="toast.type === 'warning'">
                            <svg viewBox="0 0 24 24" class="text-yellow-600 size-sf-m min-w-sf-m">
                                <path fill="currentColor"
                                      d="M23.119,20,13.772,2.15h0a2,2,0,0,0-3.543,0L.881,20a2,2,0,0,0,1.772,2.928H21.347A2,2,0,0,0,23.119,20ZM11,8.423a1,1,0,0,1,2,0v6a1,1,0,1,1-2,0Zm1.05,11.51h-.028a1.528,1.528,0,0,1-1.522-1.47,1.476,1.476,0,0,1,1.448-1.53h.028A1.527,1.527,0,0,1,13.5,18.4,1.475,1.475,0,0,1,12.05,19.933Z">
                                </path>
                            </svg>
                        </template>
                        <template x-if="toast.type === 'error'">
                            <svg viewBox="0 0 24 24" class="text-red-600 size-sf-m min-w-sf-m">
                                <path fill="currentColor"
                                      d="M11.983,0a12.206,12.206,0,0,0-8.51,3.653A11.8,11.8,0,0,0,0,12.207,11.779,11.779,0,0,0,11.8,24h.214A12.111,12.111,0,0,0,24,11.791h0A11.766,11.766,0,0,0,11.983,0ZM10.5,16.542a1.476,1.476,0,0,1,1.449-1.53h.027a1.527,1.527,0,0,1,1.523,1.47,1.475,1.475,0,0,1-1.449,1.53h-.027A1.529,1.529,0,0,1,10.5,16.542ZM11,12.5v-6a1,1,0,0,1,2,0v6a1,1,0,1,1-2,0Z">
                                </path>
                            </svg>
                        </template>
                        <template x-if="toast.type === 'success'">
                            <svg viewBox="0 0 24 24" class="text-green-600 size-sf-m min-w-sf-m">
                                <path fill="currentColor"
                                      d="M12,0A12,12,0,1,0,24,12,12.014,12.014,0,0,0,12,0Zm6.927,8.2-6.845,9.289a1.011,1.011,0,0,1-1.43.188L5.764,13.769a1,1,0,1,1,1.25-1.562l4.076,3.261,6.227-8.451A1,1,0,1,1,18.927,8.2Z">
                                </path>
                            </svg>
                        </template>
                        <p class="font-medium line-clamp-3"
                           :class="{
                                'text-[var(--color-red-600)]': toast.type === 'error',
                                'text-[var(--color-yellow-600)]': toast.type === 'warning',
                                'text-[var(--color-blue-600)]': toast.type === 'info',
                                'text-[var(--color-green-600)]': toast.type === 'success'
                            }"
                           x-text="toast.message"></p>
                    </div>
                </template>
        </div>
    </template>
</div>
<!--<script type="text/javascript" src="/assets/toast.js"></script>-->
{{ end }}