{{ define "posts" -}}

{{ $title := .Title }}
{{ $code := .Code }}
{{ $lang := .Lang }}
{{ $views := .Views }}

<div
        hx-get="/snippets/p/{{ .Slug }}"
        hx-trigger="click"
        hx-target="body"
        hx-push-url="true" class="bg-linear-to-r from-primColor-500 to-secondColor-500 p-sf-xs rounded-sf-ms space-y-sf-ms hover:cursor-pointer relative">
    <p class="text-black font-bold text-sf-ms">{{ $title }}</p>
    <div>
        <pre class="whitespace-pre-wrap overflow-hidden m-0 inline-flex rounded-md w-full">
            <code class="language-{{ $lang }} !px-sf-s !py-sf-xs rounded-sf-s w-full text-sf-s" >{{ substr $code }}</code>
        </pre>
    </div>
    <div class="flex justify-between items-center">
        <div class="flex gap-sf-2xs">
            <button class="px-sf-xs py-sf-2xs text-sf-s text-white bg-gray-600 font-bold rounded-full">{{ $lang }}</button>
            <button class="px-sf-xs py-sf-2xs text-sf-s text-white bg-gray-600 font-bold rounded-full flex gap-sf-2xs justify-center items-center">
                <svg class="size-sf-s" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" fill-rule="evenodd" d="M12 17.8c4.034 0 7.686-2.25 9.648-5.8C19.686 8.45 16.034 6.2 12 6.2S4.314 8.45 2.352 12c1.962 3.55 5.614 5.8 9.648 5.8M12 5c4.808 0 8.972 2.848 11 7c-2.028 4.152-6.192 7-11 7s-8.972-2.848-11-7c2.028-4.152 6.192-7 11-7m0 9.8a2.8 2.8 0 1 0 0-5.6a2.8 2.8 0 0 0 0 5.6m0 1.2a4 4 0 1 1 0-8a4 4 0 0 1 0 8"/></svg>
                <span>{{ $views }}</span>
            </button>
        </div>
        <p class="text-sf-s text-black font-bold">View full snippet</p>
    </div>
</div>

{{ end }}